<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
        <br>
        <h1>Edit Listing</h1>
        <br>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <!-- listing object bnarhe h uske andar ki keys daalrhe h different different idher  -->
                 <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control"
                    required>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                    <div class="invalid-feedback">
                        Enter a valid Location
                    </div>
                 </div>
               
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                <textarea  name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    Enter a valid Description
                </div>
                </div>
                <div class="mb-3">
                    Original Listing Image 
                    <br>
                    <img src="<%= originalImageUrl %>" style="height: 7rem;width: 10rem;">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                <input name="listing[image]" type="file" class="form-control" >
                </div>
               
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                    <div class="invalid-feedback">
                        Enter a valid Price
                    </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input value="<%= listing.location %>" name="listing[location]" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Enter a valid Location
                        </div>
                    </div>
                    
                </div>
                <div class="mb-3 ">
                    <label for="country" class="form-label">Country</label>
                <input value="<%= listing.country %>" name="listing[country]" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Enter a valid Country
                </div>
                </div>
                
               
                <button class="btn btn-dark add-btn">Save changes</button>
                <br><br>
            </form>
        </div>
    </div>
    
</body>
