<% layout("/layouts/boilerplate") %>
<style>
  #pfp-img-nav{
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
  }
  .show-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 12px;
  }

  /* On small screens, give a fixed height so it doesn’t shrink too much */
  @media (max-width: 768px) {
    .show-img {
      height: 250px;
      object-fit: cover;
    }
  }

  @media (max-width: 576px) {
    .show-img {
      height: 200px;
      object-fit: cover;
    }
  }
</style>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h1 style="font-weight: 700;"><%= listing.title %></h1>
            <br>
        </div>
    <div class="card col-6 offset-3 show-card listing-card ">
        <img src="<%= listing.image.url %>" class="card-img-top show-img mb-2" alt="listing_image">
        <div class="card-body">
          <div class="card-text">

            <p class="text-end text-muted mb-1 mt-0">
                <small><i>~Owner: <%= listing.owner.username %></i></small>
              </p>
              
            <div class="mt-1">
                <b>About:</b> <%= listing.description %>
            </div>
            <div class="mt-1">
                <b>Price:</b> &#8377;<%= listing.price.toLocaleString("en-IN") %>
            </div>
            <div class="mt-1">
                <b>Location:</b> <%= listing.location %>
            </div>
            <div class="mt-1">
                <b>Country:</b> <%= listing.country %>
            </div>     
        </div>
        </div>
      </div>
    <br> 
    </div>
    <% if(currUser && currUser._id.equals(listing.owner._id)){%>
    <div class="btns">
        <a href="/listings/<%= listing.id %>/edit" class="btn btn-dark col-md-1 offset-3 add-btn">Edit</a>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-5 delete-btn">Delete</button>
    </div>
    <br>
    <% } %>
    </form>  
    <hr>
    <div class="col-8 offset-3">
        <h3>Leave a Review</h3>
        <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <div class="star-rating">
                    <% for (let i = 5; i >= 1; i--) { %>
                        <input type="radio" id="star<%= i %>" name="review[rating]" value="<%= i %>" <%= i === 5 ? 'checked' : '' %>>
                        <label for="star<%= i %>" title="<%= i %> stars">&#9733;</label>
                    <% } %>
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="review" class="form-label">Comments</label>
                <textarea id="review" name="review[comment]" class="form-control" cols="30" rows="5" placeholder="Write your review here.." required></textarea>
                <div class="invalid-feedback">
                    Please write review before submitting
                </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
        <p><b>All Reviews</b></p>
        <% if(listing.reviews.length>0) {%>
        <div class="row ">
            <% for(review of listing.reviews){ %>
              <div class="card review-card col-5 mb-3 ms-3">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2 mt-2">
                    <% if(review.author.pfp.url){ %>
                      <img id="pfp-img-nav" src="<%= review.author.pfp.url %>" class="me-2">
                    <% } else { %>
                      <img src="https://i.pinimg.com/1200x/f3/23/33/f323338233ea1ef3e83ad205919f7a3a.jpg" alt="User profile picture" id="pfp-img-nav">
                    <% } %>
                    <h6 class="review-author mb-0">@<%= review.author.username %></h6>
                  </div>
                  <p class="review-comment"><%= review.comment %></p>
                  <p class="review-stars">
                    <% for(let i=1; i<=5; i++){ %>
                      <%= i <= review.rating ? "★" : "☆" %>
                    <% } %>
                  </p>
              
                  <% if(currUser && review.author.equals(currUser._id)) { %>
                    <form class="mb-1" method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                      <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                  <% } %>
                </div>
              </div>
              <% } %>
    </div>
    <% } %>
    <% if(listing.reviews.length===0){ %>
      <p>No reviews yet..</p>
      <% } %>
</div>
<div class="col-8 offset-3">
  <h3>Where you'll be</h3>
  <br>
  <div id="map"></div>
  <hr>
</div>
<br>

    <br> 
    <script>
      const lat = "<%= listing.lat || 28.6139 %>";
      const lon = "<%= listing.lon || 77.2090 %>";
      const locationName = "<%= listing.location %>";
    
      var map = L.map('map').setView([lat, lon], 14);
    
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; OpenStreetMap contributors'
      }).addTo(map);
      
      let myIcon = L.icon({
    iconUrl: 'https://img.icons8.com/?size=96&id=j6fro4Um6uAH&format=png',
    iconSize: [40, 40],
    iconAnchor: [22, 94],
    popupAnchor: [-3, -76],
});
      L.marker([lat, lon], {icon: myIcon}).addTo(map)
        .bindPopup(`<b>You'll stay here!</b>`)
        .openPopup();
    </script>

